<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout.html :: site-head">
    <title>ajouter une destination</title>
</head>

<body>

<header th:replace="layout.html :: site-header"/>
<div class="container">
    <h1>Ajouter une etape</h1>
    <p th:text="${'Date: '+#dates.format(#dates.createNow(),'dd/MM/YYYY HH:mm')}">date:</p>

    <main id="posts">
        <form action="#" th:action="@{etape/save}" th:object="${etape}" method="POST" >
            <div class="form-group">
                <label for="pays">Ville: </label>
                <input type="text" id="posttextearea" th:field="*{ville}" placeholder="pays" class="form-control mb-4 col-4">
            </div>
            <div class="form-group">
                <label for="date de debut">Date de l'etape: </label>
                <input type="date" id="textearea2" th:field="*{dateEtape}" placeholder="date de l'etape " class="form-control mb-4 col-4">
            </div>
            <div class="form-group">
                <label for="date de debut">Resume du periple: </label>
                <input type="text" id="textearea2" th:field="*{resume}" placeholder="Resume du periple " class="form-control mb-4 col-4">
            </div>

            <button type="submit" class="btn btn-info col-2"> Valider</button>
        </form>
    </main>

</div>

<footer th:replace="layout.html :: site-footer"/>

</body>

</html>